/*
Primary color: 


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home_body {
  background-image: linear-gradient(to right bottom, rgba(77, 61, 61, 0.856), rgba(27, 24, 24, 0.747)), url(/assets/images/home.jpg);
  background-position: center;
  background-size: contain;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 10px;
}
.home_body .header {
  grid-row: 1/2;
  width: auto;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 70px;
  border-radius: 10px;
}
.home_body .header ul li {
  display: flex;
  justify-content: space-around;
  margin-inline: 50px;
  text-align: center;
  align-items: center;
}
.home_body .header ul li .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 100px;
  cursor: pointer;
}
.home_body .header ul li a:not(:has(img)) {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  transition: all 0.3s;
}
.home_body .header ul li a:not(:has(img))::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(168, 33, 33);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.home_body .header ul li a:not(:has(img)):hover {
  color: rgba(172, 41, 41, 0.918);
  transform: scale(1.1);
}
.home_body .header ul li a:not(:has(img)):hover::after {
  transform: scaleX(1);
}
.home_body .home_section {
  grid-row: 2/3;
  height: auto;
  padding: 10px;
  margin-top: -30px;
}
.home_body .home_section .text_container {
  text-align: center;
  margin: 10px 10px;
}
.home_body .home_section .text_container .text_h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
  margin: 25px auto;
  font-weight: bold;
  font-size: 22px;
  width: 95%;
  color: rgb(0, 0, 0);
}
.home_body .home_section .text_container .text_h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 55px;
  color: rgb(206, 4, 4);
  font-family: "Rye", serif;
}
.home_body .home_section .home_btn {
  text-align: center;
}
.home_body .home_section .home_btn button {
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: rgb(134, 49, 49);
  cursor: pointer;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
  letter-spacing: 1.2px;
  font-weight: bold;
  margin-top: 15px;
  box-shadow: 1px;
  transition: all 0.6s;
  box-shadow: 1px 2px rgba(27, 25, 25, 0.2470588235);
}
.home_body .home_section .home_btn button:hover {
  background-color: rgb(167, 28, 28);
  transform: rotateY(-25deg);
}
.home_body .home_section .home_btn button i {
  font-size: 17px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.artist_home {
  background-color: rgb(22, 21, 21);
  padding: 10px;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
}
.artist_home .header {
  width: auto;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 70px;
  border-radius: 10px;
  grid-row: 1/2;
  height: 150px;
}
.artist_home .header ul li {
  display: flex;
  justify-content: space-around;
  margin-inline: 50px;
  text-align: center;
  align-items: center;
}
.artist_home .header ul li .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 100px;
  cursor: pointer;
}
.artist_home .header ul li a:not(:has(img)) {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  transition: all 0.3s;
}
.artist_home .header ul li a:not(:has(img))::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(168, 33, 33);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.artist_home .header ul li a:not(:has(img)):hover {
  color: rgba(172, 41, 41, 0.918);
  transform: scale(1.1);
}
.artist_home .header ul li a:not(:has(img)):hover::after {
  transform: scaleX(1);
}

.artist_team {
  grid-row: 2/3;
  height: auto;
  margin-top: -100px;
  padding: 20px;
  overflow: hidden;
}
.artist_team .artist_title {
  text-transform: uppercase;
  color: rgb(168, 33, 33);
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 450px;
  font-family: "Courier New", Courier, monospace;
}
.artist_team .artist_title hr {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
}
.artist_team .artist_container {
  margin-inline: 10px;
  gap: 10px;
  display: flex;
}
.artist_team .artist_container .artist_1, .artist_team .artist_container .artist_2 {
  display: flex;
  margin: 50px 10px;
  gap: 20px;
  align-items: flex-start;
}
.artist_team .artist_container .artist_1 .artist_img, .artist_team .artist_container .artist_2 .artist_img {
  width: 430px;
  height: 20rem;
  border-radius: 10px;
}
.artist_team .artist_container .artist_1 .artist_img img, .artist_team .artist_container .artist_2 .artist_img img {
  width: 108%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 3px rgba(27, 26, 26, 0.2274509804);
  transition: all 0.3s;
}
.artist_team .artist_container .artist_1 .artist_img img:hover, .artist_team .artist_container .artist_2 .artist_img img:hover {
  transform: scale(1.2);
}
.artist_team .artist_container .artist_1 .artist_profile, .artist_team .artist_container .artist_2 .artist_profile {
  margin: 10px 20px;
}
.artist_team .artist_container .artist_1 .artist_profile .artist_name, .artist_team .artist_container .artist_2 .artist_profile .artist_name {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-size: 25px;
  margin: 10px;
  background-image: linear-gradient(to right bottom, rgb(168, 33, 33), rgb(196, 109, 109));
  -webkit-background-clip: text;
  color: transparent;
}
.artist_team .artist_container .artist_1 .artist_profile .artist_text, .artist_team .artist_container .artist_2 .artist_profile .artist_text {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 20px 10px;
  line-height: 25px;
  color: #f8eaea;
}
.artist_team .artist_container .artist_1 .artist_profile .artist_contact, .artist_team .artist_container .artist_2 .artist_profile .artist_contact {
  margin: 10px 0;
  display: flex;
}
.artist_team .artist_container .artist_1 .artist_profile .artist_contact img, .artist_team .artist_container .artist_2 .artist_profile .artist_contact img {
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
  margin-inline: 15px;
  height: 20px;
  transition: all 0.2s;
}
.artist_team .artist_container .artist_1 .artist_profile .artist_contact img:hover, .artist_team .artist_container .artist_2 .artist_profile .artist_contact img:hover {
  transform: scale(1.3);
}
.artist_team .artist_container .artist_1 .artist_profile .artist_contact img:hover:nth-child(1), .artist_team .artist_container .artist_1 .artist_profile .artist_contact img svg, .artist_team .artist_container .artist_2 .artist_profile .artist_contact img:hover:nth-child(1), .artist_team .artist_container .artist_2 .artist_profile .artist_contact img svg {
  filter: invert(39%) sepia(57%) saturate(2000%) hue-rotate(190deg) brightness(90%) contrast(95%);
}
.artist_team .artist_container .artist_1 .artist_profile .artist_contact img:hover:nth-child(2), .artist_team .artist_container .artist_1 .artist_profile .artist_contact img svg, .artist_team .artist_container .artist_2 .artist_profile .artist_contact img:hover:nth-child(2), .artist_team .artist_container .artist_2 .artist_profile .artist_contact img svg {
  filter: invert(26%) sepia(89%) saturate(2000%) hue-rotate(320deg) brightness(95%) contrast(90%);
}
.artist_team .artist_container .artist_1 .artist_profile .artist_contact img:hover:nth-child(3), .artist_team .artist_container .artist_1 .artist_profile .artist_contact img svg, .artist_team .artist_container .artist_2 .artist_profile .artist_contact img:hover:nth-child(3), .artist_team .artist_container .artist_2 .artist_profile .artist_contact img svg {
  filter: invert(15%) sepia(99%) saturate(6932%) hue-rotate(340deg) brightness(99%) contrast(101%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallery_home {
  background: rgb(14, 13, 13);
  display: grid;
  padding: 20px;
  height: 160vh;
  grid-template-rows: 1fr 2fr;
}
.gallery_home .header {
  width: auto;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 70px;
  border-radius: 10px;
  grid-row: 1/2;
}
.gallery_home .header ul li {
  display: flex;
  justify-content: space-around;
  margin-inline: 50px;
  text-align: center;
  align-items: center;
}
.gallery_home .header ul li .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 100px;
  cursor: pointer;
}
.gallery_home .header ul li a:not(:has(img)) {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  transition: all 0.3s;
}
.gallery_home .header ul li a:not(:has(img))::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(168, 33, 33);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.gallery_home .header ul li a:not(:has(img)):hover {
  color: rgba(172, 41, 41, 0.918);
  transform: scale(1.1);
}
.gallery_home .header ul li a:not(:has(img)):hover::after {
  transform: scaleX(1);
}
.gallery_home .gallery {
  grid-row: 2/3;
  padding: 20px;
  margin-top: 6rem;
  gap: 20px;
  display: grid;
  grid-template-rows: repeat(2, 2fr);
}
.gallery_home .gallery__1 {
  grid: 1/2;
  width: 100%;
}
.gallery_home .gallery__1[data-animated=true] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.gallery_home .gallery__1--title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 28px;
  color: rgb(184, 50, 50);
  font-family: "Courier New", Courier, monospace;
  margin-top: -5px;
}
.gallery_home .gallery__1--cont {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: space-evenly;
  gap: 7rem;
  margin: 20px;
  padding: 30px;
  animation: scroll 15s linear infinite;
}
.gallery_home .gallery__1--cont img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}
.gallery_home .gallery__1--cont img:hover {
  transform: scaleX(1.6) scaleY(1.3);
  z-index: 100;
}
.gallery_home .gallery__2 {
  grid-row: 2/3;
  width: 100%;
}
.gallery_home .gallery__2[data-animated=true] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.gallery_home .gallery__2--cont {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: space-evenly;
  gap: 7rem;
  border-radius: 10px;
  animation: scroll_1 10s linear infinite;
}
.gallery_home .gallery__2--cont img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  position: relative;
}
.gallery_home .gallery__2--cont img:hover {
  transform: scale(1.3);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll_1 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.booking_home {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  background-color: rgb(22, 21, 21);
  padding: 10px;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
}
.booking_home .header {
  width: auto;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 70px;
  border-radius: 10px;
  grid-row: 1/2;
  height: 150px;
}
.booking_home .header ul li {
  display: flex;
  justify-content: space-around;
  margin-inline: 50px;
  text-align: center;
  align-items: center;
}
.booking_home .header ul li .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 100px;
  cursor: pointer;
}
.booking_home .header ul li a:not(:has(img)) {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  transition: all 0.3s;
}
.booking_home .header ul li a:not(:has(img))::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(168, 33, 33);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.booking_home .header ul li a:not(:has(img)):hover {
  color: rgba(172, 41, 41, 0.918);
  transform: scale(1.1);
}
.booking_home .header ul li a:not(:has(img)):hover::after {
  transform: scaleX(1);
}
.booking_home .booking_section {
  grid-row: 2/3;
  margin: -4rem 20px;
}
.booking_home .booking_section .booking_title {
  background-color: yellow;
  margin: 10px;
  align-items: center;
  text-align: center;
}
.booking_home .booking_section .form_container {
  color: blue;
}
.booking_home .booking_section .form_container .group_one {
  background-color: aqua;
  margin: 10px;
  padding: 20px;
  width: 100%;
}
.booking_home .booking_section .form_container .group_one .form_group input {
  padding: 5px;
  margin: 5px;
}
.booking_home .booking_section .form_container .group_two .tat_service {
  display: flex;
  align-items: center;
}
.booking_home .booking_section .form_container .group_two .tat_service button {
  padding: 5px;
}
.booking_home .booking_section .form_container .group_two .tat_service h1 {
  font-size: 10px;
  margin: 5px;
}
.booking_home .booking_section .form_container .group_two .tat_service hr {
  height: 2px;
  width: 100%;
}
.booking_home .booking_section .form_container .group_two .tat_form {
  display: flex;
  background-color: yellowgreen;
  flex-direction: column;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.booking_home .booking_section .form_container .group_two .tat_form.hide {
  opacity: 0;
  transform: scaleY(0);
  pointer-events: none;
}

.contact_home {
  background-color: rgb(22, 21, 21);
  padding: 10px;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
}
.contact_home .header {
  width: auto;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 70px;
  border-radius: 10px;
  grid-row: 1/2;
  height: 150px;
}
.contact_home .header ul li {
  display: flex;
  justify-content: space-around;
  margin-inline: 50px;
  text-align: center;
  align-items: center;
}
.contact_home .header ul li .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 100px;
  cursor: pointer;
}
.contact_home .header ul li a:not(:has(img)) {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  transition: all 0.3s;
}
.contact_home .header ul li a:not(:has(img))::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(168, 33, 33);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.contact_home .header ul li a:not(:has(img)):hover {
  color: rgba(172, 41, 41, 0.918);
  transform: scale(1.1);
}
.contact_home .header ul li a:not(:has(img)):hover::after {
  transform: scaleX(1);
}
.contact_home .contact_us {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.contact_home .contact_us .address {
  width: 400px;
  height: 400px;
  background-color: yellow;
}
.contact_home .contact_us .map {
  width: 400px;
  height: 400px;
}/*# sourceMappingURL=main.css.map */