@use "mixins" as *;

.contact_home{
     background-color: rgb(22, 21, 21);
     padding:10px;
     display: grid;
     height: 100vh;
     grid-template-rows: 1fr 2fr;
     .header{
    @include header_style;
    grid-row: 1/2;
    height: 150px;
}


.contact_us{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    .address{
        width: 400px;
        height: 400px;
        background-color: yellow;

    }
    .map{
         width: 400px;
        height: 400px;
        iframe{


        }

    }
}
}