@mixin header_style{
    
    width: auto;
    background-color: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-height: 70px;
    border-radius: 10px;
  ul{
    
    li{
        display: flex;
        justify-content: space-around;
        margin-inline: 50px;
        text-align: center;
        align-items: center;
        
        
        .logo{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-top: 8px;
            margin-left: 100px;
            cursor: pointer;
        }
        a:not(:has(img)){
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 600;
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            position: relative;
            transition: all .3s;
            &::after{
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: rgb(168, 33, 33);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ;
            }
            &:hover{
              color:rgba(172, 41, 41, 0.918); 
              transform: scale(1.1);
            }
              &:hover::after{
                    transform: scaleX(1);
                }
          
        }
    }
  }



}